# === ENTORNO VIRTUAL ===
venv/
.venv/
env/

# === ARCHIVOS DE CONFIGURACIÓN Y SECRETOS ===
.env
.env.*
*.env

# === BASE DE DATOS LOCAL ===
db.sqlite3
*.sqlite3

# === CACHÉ Y COMPILADOS DE PYTHON ===
__pycache__/
*.py[cod]
*$py.class

# === ARCHIVOS SUBIDOS POR USUARIOS (Media) ===
media/
staticfiles/

# === CONFIGURACIONES DE EDITORES / IDEs ===
.vscode/
.idea/
*.swp

# === ARCHIVOS DEL SISTEMA OPERATIVO ===
.DS_Store
Thumbs.db